
/* Utility Styles Begin */
html { 
    background: url(../images/nza_background.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    margin: 0px;
}

.wrapper {
    margin: 0 20%;
    padding: 0 2%;
    background: white;
}

.double-border {
    border: 10px double black;
}

.img-border {
    padding: 5px 5px 0px 5px;
    border: 1.5px solid;
}

.img-pad {
    padding: .1rem;
}

/* Utility Styles End */

/* Header Styles Begin */
.login {
    text-align: end;
}

.login-button {
    background-color: #CCC;
    color: white;
    border-radius: 3px;
    font-size: .6rem;
    padding: .3rem .4rem;
    border: none;
}

.logo-header {
    display: flex;
    justify-content: flex-start;
}


.logo {
    max-width: 3.2rem;
    padding: 2px;
    border: 1px solid;
}

.firm-name {
    width: 14rem;
    font-size: 1.7rem;
    padding-left: 0.55rem;
    margin: 0px;
}

nav {
    border-top: 1.5px solid;
    border-bottom: 1.5px solid;
    margin-top: 1rem;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
    font-size: 0.6rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .35rem;
    margin-bottom: .35rem;
}


/* Header Styles END */

/* Main Styles Begin */

/* Main Styles END */

/* Footer Styles Begin */

/* Footer Styles END */